absl-py==0.1.13
astor==0.6.2
bleach==1.5.0
certifi==2022.12.7
chardet==3.0.4
cymem==1.31.2
cytoolz==0.8.2
dill==0.2.7.1
ftfy==4.4.3
gast==0.2.0
grpcio==1.11.0
html5lib==0.9999999
idna==2.6
Markdown==2.6.11
msgpack-numpy==0.4.1
msgpack-python==0.5.4
murmurhash==0.28.0
numpy==1.14.2
pathlib==1.0.1
Pillow==5.1.0
plac==0.9.6
preshed==1.0.0
protobuf==3.5.2.post1
psycopg2-binary==2.7.4
PyYAML==3.12
regex==2017.4.5
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
spacy==2.0.9
tensorboard==1.7.0
tensorboardX==1.1
tensorflow==1.7.0
termcolor==1.1.0
thinc==6.10.2
toolz==0.9.0
torch==0.3.1
torchvision==0.2.0
tqdm==4.19.7
ujson==1.35
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.14.1
wrapt==1.10.11
